@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$full-pink: #FF868E;
$light-pink: #FFDBDD;
$full-green: #97EAB9;
$light-green: #E0F9EA;
$full-yellow: #FFD280;
$light-yellow: #FFF1D9;
$full-violet: #B4B7FF;
$full-gray: #8C8C8C;
$light-gray: #F8F8F7;
$dark-gray: #1D1D1D;

// Resets
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: black;
    border: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Jost', sans-serif;
    background-color: $light-gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

// Typography
h1 {
    font-size: 44px;
    font-weight: 500;
    line-height: 58px;
}

h2 {
    font-size: 36px;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    font-weight: 500;
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #8C8C8C;

    &.bold {
        font-weight: 500;
        color: $dark-gray;
    }
}

.link-text {
    color: $full-pink;
    text-decoration: none;
}

// Animations
@keyframes loader-spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Layout
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 30px 0px 30px;;
}

.content-left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    max-width: 680px;
}

.content-right {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    width: 50%;
    max-width: 680px;
}

.main-section {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    flex-wrap: wrap;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}
  
.nav-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    img {
        width: auto;
        height: auto;
        margin-bottom: 10px;
        border-radius: 20px;
        outline: 4px solid rgba(255, 255, 255, 0.2);
        outline-offset: -4px;
        transition: all 0.3s ease;
    }

    &.voting {
        img {
            background-color: $full-violet;
        }
    }

    &.breeds {
        img {
            background-color: $full-green;
        }
    }

    &.gallery {
        img {
            background-color: $full-yellow;
        }
    }

    .label {
        width: 100%;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 2px;
        color: $full-pink;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    &:hover {
        img {
        outline: 0px solid rgba(255, 255, 255, 0.2);
        outline-offset: -4px;
        }
        .label {
        background-color: $light-pink;
        }
    }

    &.current {

        img {
            outline: 4px solid $light-pink;
            outline-offset: -4px;
        }

        .label {
        background-color: $full-pink;
        color: white;
        }
    }
}

.hero-image {
    display: block;
    width: 50%;
    max-width: 680px;
    height: auto;
    margin: -30px 0px 0px -10px;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.search-bar-wrapper {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    flex: 1;
    background-color: white;
    border-radius: 20px;
}

.search-bar {
    width: 100%;
    height: 100%;
    padding: 15px 10px 15px 20px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    color: $full-gray;
    outline: 2px solid transparent;
    transition: all 0.3s ease;

    &:hover {
        outline: 2px solid $light-pink;
    }

    &:focus {
        outline: 2px solid $full-pink;
        color: black;
    }
}

.search-button {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: auto;
    background-color: $light-pink;
    transition: all 0.3s ease;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: $full-pink;

        img {
            filter: brightness(10);
        }
    }
}

.links-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.link-saved {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    transition: all 0.3s ease;

    &:hover {
        background-color: $light-pink;
    }

    &.current {
        background-color: $full-pink;

        img {
            filter: brightness(10);
        }
    }
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.btn-back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $light-pink;
    transition: all 0.3s ease;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: $full-pink;

        img {
            filter: brightness(10);
        }
    }
}

.breadcrumbs-item {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: $full-pink;
    background-color: $light-pink;
    padding: 5px 30px;
    border-radius: 10px;

    &.current {
        background-color: $full-pink;
        color: white;
    }
}

.id-item {
    display: none;
}

// Voting page styles
.voting-page {
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border-radius: 20px;
}

.candidate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vote-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 360px;
}

.candidate-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.voting-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 4px;
    margin-top: -42px;
    border-radius: 20px;
    background-color: white;
    outline: 4px solid white;
    overflow: hidden
}

.vote-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    transition: all 0.3s ease;;
    border: none;
    cursor: pointer;

    &.like {
        background-color: $full-green;
    }

    &.favourite {
        background-color: $full-pink;
    }

    &.dislike {
        background-color: $full-yellow;
    }

    &:hover {
        &.like {
            background-color: $light-green;
        }
        &.favourite {
            background-color: $light-pink;
        }
        &.dislike {
            background-color: $light-yellow;
        }
    }

    &:active {

        &.like {
            background-color: $full-green;
        }
        &.favourite {
            background-color: $full-pink;
        }
        &.dislike {
            background-color: $full-yellow;
        }
    }
}

.user-action-logs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.user-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 15px 20px 15px 15px;
    background-color: $light-gray;
    border-radius: 20px;
}

.timestamp {
    padding: 3px 10px;
    background-color: white;
    border-radius: 5px;
}

.action {
    flex: 1;
    font-size: 20px;
    font-weight: 400;
    color: $full-gray;
}

// Breeds page styles
.breeds-page {
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border-radius: 20px;
}

.tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.filters-and-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.dropdown-wrapper {
    flex: 1;
    position: relative;

    img {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }
}

.dropdown {
    width: 100%;
    background-color: $light-gray;
    border-radius: 10px;
    padding: 8px 10px;
    color: $full-gray;
    outline: 2px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        outline: 2px solid $light-pink;
    }

    &:focus {
        outline: 2px solid $full-pink;
    }
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: $light-gray;
    border-radius: 10px;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: all 0.3s ease;

    img {
        filter: grayscale(100%);
        transition: all 0.3s ease;
    }

    &:hover,
    &.active {
        outline: 2px solid $light-pink;

        img {
            filter: grayscale(0%);
        }
    }
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

// Parent grid
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(140px, auto);
    gap: 20px;
}

// Child grid items
.grid-cell {
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    background-image: url("images/candidate.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // Grid Items Positioning
    &:nth-child(10n + 1) {
        grid-row-start: span 2;
    }
    &:nth-child(10n + 4) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    &:nth-child(10n + 8) {
        grid-row-start: span 2;
    }
    &:nth-child(10n + 9) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
}


.breed-card {
    box-shadow: inset 0px 0px 200px 100px rgba(255, 134, 142, 0.0); // Color overlay (box-shadow for the smooth transition)
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        box-shadow: inset 0px 0px 200px 100px rgba(255, 134, 142, 0.6); // Color overlay (box-shadow for the smooth transition)
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .breed-name {
            opacity: 100%;
        }
    }
}


.breed-name {
    opacity: 0%;
    text-align: center;
    width: 100%;
    color: $full-pink;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    transition: all 0.3s ease;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-top: 20px;
}

.page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 30px;
    background-color: $light-pink;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    color: $full-pink;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: $full-pink;
        color: white;

        img {
            filter: brightness(10);
        }
    }

    &.disabled {
        background-color: $light-gray;
        color: $full-gray;
        cursor: not-allowed;
        pointer-events: none;

        img {
            filter: grayscale(100%);
        }
    }
}

.breed-info-page {
    display: none;
}

// Carousel
.breed-page-img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;

    img {
        display: block;
        width: 100%;
        border-radius: 20px;
    }
}

.dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-top: -15px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $light-pink;
    cursor: pointer;
    transition: all 0.3s ease;

    &.active {
        background-color: $full-pink;
    }

    &:hover {
        background-color: $full-pink;
    }
}

// Breed details
.breed-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 31px;
    padding: 0 20px 40px 20px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    outline: 2px solid $light-pink;
}

.breed-title {
    position: relative;
    z-index: 1;
    margin-top: -31px;
    padding: 5px 40px;
    border-radius: 10px;
    background-color: white;
}

.breed-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    text-align: start;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 270px;
}

.detail {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}


// Gallery page styles
.gallery-page {
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.tools-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.btn-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 30px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $full-pink;
    background-color: $light-pink;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: $full-pink;
        color: white;

        img {
            filter: brightness(10);
        }
    }
}

.filters-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    row-gap: 10px;;
    padding: 10px 20px 20px 20px;
    background-color: $light-gray;
    border-radius: 20px;
}

.dropdown-wrapper-labeled {
    display: flex;
    flex-direction: column;
    width: 46%;
    box-sizing: border-box;
}

.dropdown-light {
    flex: 1;
    background-color: white;
}

.label-dropdown {
    margin-left: 10px;
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
    color: $full-gray;
}

.icon-dropdown {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.dropdown-and-reload {
    display: flex;
    gap: 10px;
}

.with-reload {
    display: flex;
    flex: 1;
}

.btn-reload {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: $light-pink;
    }
}

// Gallery grid
// Child grid items
.gallery-card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 200px 100px rgba(255, 134, 142, 0.0); // Color overlay (box-shadow for the smooth transition)
    transition: all 0.3s ease;

    &:hover {
        box-shadow: inset 0px 0px 200px 100px rgba(255, 134, 142, 0.6); // Color overlay (box-shadow for the smooth transition)
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .btn-gallery-fav {
            opacity: 100%;
        }
    }
}

.btn-gallery-fav {
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;

    img {
        transition: all 0.3s ease;
    }

    &:hover {
        background-color: $full-pink;

        img {
            filter: brightness(10);
        }
    }
}
    
// Upload popup
.upload-wrapper {
    display: none;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    z-index: 9999;
}

.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: $full-pink;

        img {
            filter: brightness(10);
        }
    }
}

.upload-popup {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 680px;
    padding: 100px 20px 20px 20px;
    background-color: $light-gray;
    border-radius: 20px;
    overflow-y: auto;
}

.upload-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.upload-area {
    width: 100%;
    min-height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border-radius: 20px;
    border: 2px dashed $light-pink;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    background-image: url(images/upload-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    p {
        display: block;
    }

    img {
        display: none;
        width: 100%;
        border-radius: 10px;
    }

    &.error-area {
        background-color: $light-pink;
        border: 2px dashed $full-pink;
    }
}

.btn-upload-file {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 30px;
    background-color: $full-pink;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;

    img {
        display: none;
    }

    &:hover {
        background-color: $light-pink;
        color: $full-pink;
    }

    &:active {
        background-color: $full-pink;
        color: white;
    }

    &.loading {
        cursor: wait;

        img {
            display: block;
            animation: loader-spinning 1.2s linear infinite;
        }

        &:hover {
            background-color: $full-pink;
            color: white;
        }
    }

    &.disabled {
        background-color: $light-gray;
        color: $full-gray;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.upload-message {
    display: none;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 18px 20px;
    background-color: white;
    border-radius: 10px;
}

// Search result page
.search-result-page {
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.nothing-found-message {
    display: none;
    width: 100%;
    text-align: start;
    color: $full-gray;
    background-color: $light-gray;
    padding: 18px 20px;
    border-radius: 10px;
}

// Loading spinner
.loader-page {
    display: none;
    width: 25%;
    align-self: center;
    margin: 100px 100px;
    animation: loader-spinning 1.2s linear infinite;
}

// Likes page
.likes-page {
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

// Favourites page
.favourites-page {
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

// Dislikes page
.dislikes-page {
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}